-var authenticated = true;
- var classes = ['foo', 'bar', 'baz','test4']
.test(class=authenticated ? 'authed' : 'anon')

div(escaped="<code>")

span(class=classes)
span(class=classes)
span(class=classes)
span(class=classes)
span(class=classes)
span(class=classes)
span(class=classes)
